  </div>
  <script type="text/javascript" src="http://staticcdn.b5m.com/static/scripts/common/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/mongoadmin.js"></script>
  </body>
</html>